// Gray
$color-gray-1000: #000000;
$color-gray-500: #5c5c5c;
$color-gray-200: #e5e5e5;
$color-gray-0: #ffffff;

// Pink
$color-pink-600: #ff00ae;
$color-pink-200: #c698b8;
$color-pink-100: #e7c0db;
$color-pink-50: rgba($color: #ff00ae, $alpha: 0.5);

// Violet
$color-violet-900: #3c1661;
$color-violet-600: #6727a6;
$color-violet-100: #775C90;
$color-violet-50: #e2dce7;

// Red
$color-red-600: #d23f63;

// Green
$color-green-600: #67c076;

// Gradients
$color-gradient: linear-gradient(45deg, #6727a6, #3c1661);
