.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 4rem;

  article {
    h2 {
      font-weight: 600;
      margin-bottom: 0.8rem;
    }

    p {
      color: #666666;
      font-weight: 500;
    }
  }
}
