.container {
  width: 100%;

  h2 {
    @include text-gradient($color-gradient);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1.6rem;
  }

  .ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 0.8rem;

    @media screen and (width > 700px) {
      margin-top: 4rem;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
  }
}
