.container {
  max-width: 600px;
  list-style: none;
  margin-top: 2.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 0.8rem;

  @media screen and (width > 700px) {
    margin-top: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
