.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (width > 700px) {
    align-items: center;
  }

  .ul {
    max-width: 600px;
    list-style: none;
    margin-top: 2.5rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10.4rem, 10.4rem));
    gap: 0.8rem;

    @media screen and (width > 700px) {
      margin-top: 4rem;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 14rem));
    }
  }
}
