.containerFilterList {
  display: flex;
  list-style: none;
  width: max-content;
  padding: 5px;
  border-radius: 100px;

  position: sticky;
  top: 1.6rem;
  z-index: 1;
  background: rgba($color: $color-gray-0, $alpha: 0.85);
  backdrop-filter: blur(10px);

  &.fixed {
    margin: 0 auto;
  }

  li {
    font-size: 14px;
    padding: 0.8rem 1.2rem;
    border: none;
    background: none;
    color: $color-violet-900;
    font-weight: 500;
    transition: all 0.2s ease;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;

    &.activeOption {
      z-index: 1;
      color: $color-gray-0;
    }
  }

  .activeIndicator {
    background: $color-violet-900;
    color: $color-gray-0;
    border-radius: inherit;
    position: absolute;

    height: calc(100% - 10px);
    width: 98px;
    left: 0;
    transform: translateX(5px);

    transition: all 0.2s ease;
  }
}
