.container {
  width: 100%;

  .detailsContainer {
    display: flex;
    gap: 1.6rem;

    img {
      border-radius: 8px;
      max-width: 170px;
      min-width: 170px;
      max-height: 226px;
      min-height: 226px;

      @media screen and (width <= 700px) {
        max-width: 82px;
        min-width: 82px;
        max-height: 110px;
        min-height: 110px;
      }
    }

    h1 {
      @include text-gradient($color-gradient);
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0.8rem;
    }

    h2 {
      color: $color-violet-100;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 2.4rem;
    }
  }

  .collectBtn {
    @include button();
    display: none;

    &.active {
      @include button-secondary();
    }

    &.desktopBtn {
      @media screen and (width > 700px) {
        display: block;
      }
    }

    &.mobileBtn {
      width: 100%;
      margin-top: 2.4rem;

      @media screen and (width <= 700px) {
        display: block;
      }
    }
  }
}
